@inject FiorelloDataFromDb.Services.LayoutServices layoutService
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
          integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/assets/SASS/main.css">
    <title>Document</title>
</head>

<body>
    <div class="goUp">
        <a href="#"><i class="fas fa-chevron-up"></i></a>
    </div>
    <header>
        <div class="nav">
            <div class="container">
                <div class="row">
                    <div class="logo col-sm-3 col-3">
                        <h2>
                            <a href="">@layoutService.getSettingDatas().Logo</a>
                        </h2>
                    </div>
                    <div class="nav-links col-lg-7">
                        <nav class="Menu">
                            <ul class="menu-main">
                                <li class="menu-item-has-children">
                                    <a class="navAnc" href="./index.html">HOME</a>
                                    <div class="sub-menu single-column-menu">
                                        <ul>
                                            <li><a href="">Main Home</a></li>
                                            <li><a href="">Grid Home</a></li>
                                            <li><a href="">Flower Shop</a></li>
                                            <li><a href="">Animated Slider</a></li>
                                            <li><a href="">Metro Showcase</a></li>
                                            <li><a href="">Carousel Showcase</a></li>
                                            <li><a href="">Landing</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item-has-children">
                                    <a class="navAnc" href="">PAGES</a>
                                    <div class="sub-menu single-column-menu">
                                        <ul>
                                            <li><a href="">About Us</a></li>
                                            <li><a href="">FAQ Page</a></li>
                                            <li><a href="">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item-has-children">
                                    <a class="navAnc" href="">SHOP</a>
                                    <div class="sub-menu mega-menu mega-menu-column-4">
                                        <div class="list-item">
                                            <h4 class="title">Product Types</h4>
                                            <ul>
                                                <li><a href="">Standart Product</a></li>
                                                <li><a href="">Grouped Product</a></li>
                                                <li><a href="">Variable Product</a></li>
                                                <li><a href="">Virtual Product</a></li>
                                                <li><a href="">External Product</a></li>
                                                <li><a href="">Downloadable Product</a></li>
                                                <li><a href="">On Sale Product</a></li>
                                                <li><a href="">Out Of Stock Product</a></li>
                                                <li><a href="">New Product</a></li>
                                            </ul>
                                        </div>
                                        <div class="list-item">
                                            <h4 class="title">Shop Pages</h4>
                                            <ul>
                                                <li><a href="">My Account</a></li>
                                                <li><a href="">Cart</a></li>
                                                <li><a href="">Checkout</a></li>
                                                <li><a href="">Orders</a></li>
                                                <li><a href="">Dowwnloads</a></li>
                                            </ul>
                                        </div>
                                        <div class="list-item">
                                            <h4 class="title">Shop Types</h4>
                                            <ul>
                                                <li><a href="./plist.html">Product List</a></li>
                                                <li><a href="">Without Sidebar</a></li>
                                                <li><a href="">With Category Filter</a></li>
                                                <li><a href="">With Ordering Filter</a></li>
                                                <li><a href="">Shop Carousel</a></li>
                                                <li><a href="">Product Categories</a></li>
                                                <li><a href="">Single Category</a></li>
                                            </ul>
                                        </div>
                                        <div class="list-item">
                                            <h4 class="title">Shop Layouts</h4>
                                            <ul>
                                                <li><a href="">Two Columns Grid</a></li>
                                                <li><a href="">Three Columns Grid</a></li>
                                                <li><a href="">Four Columns Grid</a></li>
                                                <li><a href="">Four Columns Wide</a></li>
                                                <li><a href="">Five Columns Wide</a></li>
                                                <li><a href="">Six Columns Wide</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item-has-children">
                                    <a class="navAnc" href="">PORTFOLIO</a>
                                    <div class="sub-menu single-column-menu">
                                        <ul>
                                            <li><a href="">Standart</a></li>
                                            <li><a href="">Gallery</a></li>
                                            <li><a href="">Masonry</a></li>

                                            <li id="Portfolio1" class="menu-item-has-children">
                                                <a href="">
                                                    Port Layouts
                                                    <span class="navchvrnIcon">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </span>
                                                </a>

                                                <ul class="secsubList1">
                                                    <li><a href="">One</a></li>
                                                    <li><a href="">Two</a></li>
                                                    <li><a href="">Three</a></li>
                                                    <li><a href="">Four</a></li>
                                                    <li><a href="">Five</a></li>
                                                </ul>
                                            </li>

                                            <li id="Portfolio2" class="subListElement">
                                                <a href="">
                                                    Portfolio Single <span class="navchvrnIcon">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </span>
                                                </a>
                                                <ul class="secsubList2">
                                                    <li><a href="">One Slider</a></li>
                                                    <li><a href="">Two Slider</a></li>
                                                    <li><a href="">Three Slider</a></li>
                                                    <li><a href="">Four Slider</a></li>
                                                    <li><a href="">Five Slider</a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item-has-children">
                                    <a class="navAnc" href="">BLOG</a>
                                    <div class="sub-menu single-column-menu">
                                        <ul>
                                            <li><a href="">Masonry</a></li>
                                            <li><a href="">Standart</a></li>
                                            <li id="Postypes1">
                                                <a href="">
                                                    Post Types <span class="navchvrnIcon">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </span>
                                                </a>

                                                <ul class="secsubList3">
                                                    <li><a href="">One Columns</a></li>
                                                    <li><a href="">Two Columns</a></li>
                                                    <li><a href="">Three Columns</a></li>
                                                    <li><a href="">Four Columns</a></li>
                                                    <li><a href="">Five Columns</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item-has-children">
                                    <a class="navAnc" href="">ELEMENTS</a>
                                    <div class="sub-menu single-column-menu">
                                        <ul>
                                            <li id="element1">
                                                <a style="margin-left: 10px;" href="">
                                                    <span class="navchvrnIconLft">
                                                        <i class="fas fa-chevron-left"></i>
                                                    </span>Classic
                                                </a>
                                                <ul class="secsubList4">
                                                    <li><a href="./accordion.html">Accordions</a></li>
                                                    <li><a href="./tabs.html">Tabs</a></li>
                                                    <li><a href="">Buttons</a></li>
                                                    <li><a href="">Video Button</a></li>
                                                    <li><a href="">Contact Form</a></li>
                                                </ul>
                                            </li>
                                            <li id="element2">
                                                <a style="margin-left: 10px;" href="">
                                                    <span class="navchvrnIconLft">
                                                        <i class="fas fa-chevron-left"></i>
                                                    </span>Infographic
                                                </a>
                                                <ul class="secsubList5">
                                                    <li><a href="">Blog List</a></li>
                                                    <li><a href="">Contact Form</a></li>
                                                    <li><a href="">Count Down</a></li>
                                                    <li><a href="">Google Map</a></li>
                                                    <li><a href="./progress.html">Progress Bar</a></li>
                                                </ul>
                                            </li>
                                            <li id="element3">
                                                <a style="margin-left: 10px;" href="">
                                                    <span class="navchvrnIconLft">
                                                        <i class="fas fa-chevron-left"></i>
                                                    </span>Interactive
                                                </a>
                                                <ul class="secsubList6">
                                                    <li><a href="">Image Gallery</a></li>
                                                    <li><a href="">Team</a></li>
                                                    <li><a href="">Banner</a></li>
                                                    <li><a href="./shoplist.html">Shop List</a></li>
                                                    <li><a href="">Portfolio List</a></li>
                                                </ul>
                                            </li>
                                            <li id="element4">
                                                <a style="margin-left: 10px;" href="">
                                                    <span class="navchvrnIconLft">
                                                        <i class="fas fa-chevron-left"></i>
                                                    </span>Typhegraphy
                                                </a>
                                                <ul class="secsubList7">
                                                    <li><a href="">Headings</a></li>
                                                    <li><a href="">Columns</a></li>
                                                    <li><a href="">Section Title</a></li>
                                                    <li><a href="">BlockQuote</a></li>
                                                    <li><a href="">DropCaps</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="littleservices col-lg-2">
                        <div class="search">
                            <span>@Html.Raw(@layoutService.getSettingDatas().SearchIcon)</span>
                        </div>
                        <div class="whishlist">
                            <p>@Html.Raw(@layoutService.getSettingDatas().BasketIcon)CART($0)</p>
                        </div>
                    </div>
                    <div class="searchArea">
                        <div class="area">
                            <input type="text" placeholder="Search">
                            <i class="fas fa-search searchIcon"></i>
                        </div>
                    </div>
                    <div class="menuIcon col-sm-2 col-2">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="menu">
                        <div class="close">
                            <i class="fas fa-times"></i>
                        </div>

                        <div class="menu-links">
                            <ul>

                                <li>
                                    <a href="#" class="mlist">
                                        HOME <span>
                                            <i class="fas fa-caret-right rightIcn ndeg"></i>
                                        </span>
                                    </a>
                                    <ul class="sub">
                                        <li><a href="">Main Home</a></li>
                                        <li><a href="">Grid Home</a></li>
                                        <li><a href="">Flower Shop</a></li>
                                        <li><a href="">Animated Slider</a></li>
                                        <li><a href="">Metro Showcase</a></li>
                                        <li><a href="">Carousel Showcase</a></li>
                                        <li><a href="">Landing</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#" class="mlist">
                                        PAGES<span>
                                            <i class="fas fa-caret-right rightIcn ndeg"></i>
                                        </span>
                                    </a>
                                    <ul class="sub">
                                        <li><a href="">About Us</a></li>
                                        <li><a href="">FAQ Page</a></li>
                                        <li><a href="">Contact Us</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">SHOP <span><i class="fas fa-caret-right rightIcn ndeg"></i></span></a>

                                </li>

                                <li>
                                    <a href="#" class="mlist">
                                        PORTFOLIO<span>
                                            <i class="fas fa-caret-right rightIcn ndeg"></i>
                                        </span>
                                    </a>
                                    <ul class="sub">
                                        <li><a href="">Standart</a></li>
                                        <li><a href="">Gallery</a></li>
                                        <li><a href="">Masonry</a></li>
                                        <li>
                                            <a href="" class="mlist">Port Layouts</a>
                                            <ul class="sub">
                                                <li><a href="">Two Columns</a></li>
                                                <li><a href="">Three Columns</a></li>
                                                <li><a href="">Four Columns</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="" class="mlist">Portfolio Single</a>
                                            <ul class="sub">
                                                <li><a href="">Lorem</a></li>
                                                <li><a href="">LoremLorem</a></li>
                                                <li><a href="">Fumns</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#" class="mlist">
                                        BLOG<span>
                                            <i class="fas fa-caret-right rightIcn ndeg rightIcn ndeg"></i>
                                        </span>
                                    </a>
                                    <ul class="sub">
                                        <li><a href="">Masonry</a></li>
                                        <li><a href="">Standart</a></li>
                                        <li><a href="">Post Types</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#" class="mlist">
                                        ELEMENTS<span>
                                            <i class="fas fa-caret-right rightIcn ndeg"></i>
                                        </span>
                                    </a>
                                    <ul class="sub">
                                        <li><a href="">Classic</a></li>
                                        <li><a href="">Infographic</a></li>
                                        <li><a href="">Interactive</a></li>
                                        <li><a href="">Typhegraphy</a></li>
                                        <li><a href="">Portfolio Single</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()

    @await Component.InvokeAsync("Footer");

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- parallax -->
    <script src="~/assets/JS/parallax.js"></script>
    @RenderSection("Scripts", false);
    <!-- js  -->
    <script src="~/assets/JS/script.js"></script>
    <!-- fadein -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="~/fadein/Fadeplugin.js"></script>
    <!-- owl carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>